<div class="header d-flex flex-column justify-content-center align-items-start">
  <div class="header-text">
    <h1>Explore the world</h1>
    <p>Travel is the movement of people between distant geographical locations.</p>
  </div>
</div>

<div class="index-container">
  <h2 id="subtitle-cards-flats">Discover the world</h2>
  <div class="cards-flats">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), class: "flat-link" do %>
        <div class="flat-card">
          <%= image_tag flat.image, alt: flat.name, class: "flat-image" %>
          <p class="flat-city"><%= flat.city %></p>
          <h2><%= flat.name %></h2>
          <div class="flat-details">
            <span class="flat-price"><%= flat.price_per_night %> € / night</span>
            <span class="flat-guests"><%= flat.number_of_guests %> guests</span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
